{% extends "tethys_apps/app_base.html" %} 
{% load static %} 
{% block title %}-{{ tethys_app.name }}
{% endblock %} 

{% block styles %} 
{{ block.super }}
<link href="{% static 'snow_inspector/css/main.css' %}" rel="stylesheet" />
{% endblock %} 

{% block app_icon %} 

<img src="{% static tethys_app.icon %}" />
{% endblock %}
{% block app_title %}
Snow Inspector
{% endblock %} 

{% block header_buttons %}
<div
  class="header-button glyphicon-button"
  data-bs-toggle="tooltip"
  data-bs-placement="bottom"
  title="Instructions"
>
  <a
    data-bs-toggle="modal"
    data-bs-target="#welcome-popup"
    title="Instructions"
    style="cursor: pointer"
    ><i class="bi bi-question-circle"></i></a>
</div>
<div
  class="header-button glyphicon-button"
  data-bs-toggle="tooltip"
  data-bs-placement="bottom"
  title="Source Code"
>
  <a
    href="https://github.com/BYU-Hydroinformatics/snow-inspector"
    target="_blank"
    ><i class="bi bi-info-circle"></i></a>
</div>
{% endblock %} 

{% block app_navigation_items %}
<li class="nav-item title">App Navigation</li>
<li class="nav-item active"><a class="nav-link active" href="">Home</a></li>
<li class="nav-item" ><a class="nav-link" href="">Jobs</a></li>
<li class="nav-item"><a class="nav-link" href="">Results</a></li>
<li class="nav-item">Steps</li>
<li class="nav-item"><a class="nav-link" href="">1. The First Step</a></li>
<li class="nav-item"><a class="nav-link" href="">2. The Second Step</a></li>
<li class="nav-item"><a class="nav-link" href="">3. The Third Step</a></li>
<li class="nav-item separator"></li>
<li class="nav-item"><a class="nav-link" href="">Get Started</a></li>
{% endblock %}

{% block app_content_wrapper_override %} 
{% include "snow_inspector/welcome_modal.html" %} 
{{block.super}} 
{% endblock %} 
